.navbar{
  background-color: blue;
  display: flex;
  flex-direction: row;
  gap: 10px;
  padding: 15px;
}

.navbar Button{
  background-color: blue;
  color: whitesmoke;
  border: none;
}

.navbar Button:hover{
  background-color: blue;
}

.book-details{
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-wrap: wrap;
  margin-top: 15px;
  gap: 15px;
}

.add-book-form{
  display: flex;
  flex-direction: column;
  align-items: center;
}
